.scale:checked ~ .toscale {
  transform: scale(80);
}
.nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.scale:checked ~ .nav {
  opacity: 1;
  width: 100%;
}
