@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.hero-image {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9; /* Adjust the aspect ratio as needed */
}
